<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastrar Mesa</title>
</head>
<body>

  <h1>Cadastrar Mesa</h1>

<form action="/mesa/cadastro_mesa" method="post">

  <label for="numero_de_Mesa">Número da Mesa:</label>
  <input type="number" id="numero_de_Mesa" name="numero_de_Mesa" required>
  <label for="quantidade_de_Acentos">Quantidade de Assentos:</label>
  <input type="number" id="quantidade_de_Acentos" name="quantidade_de_Acentos" required>

  <button type="submit">Cadastrar</button>
  <a href="/">Página Inicial</a><br>

</form>

</body>
</html>
